*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    font-weight: lighter;
    color: whitesmoke;
    text-align: center;
    cursor: default;
    letter-spacing: 2px;
}
html {
    background: url(/images/work.png); 
    height: 100%;
    width: 100%;
    background-position: bottom left;
} 
a{
    cursor: pointer;
    color: blue;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: whitesmoke;
    text-decoration: none;
}
h2{
    font-size: 16px;
    padding: 2px;
}
h3{
    font-size: 12px;
}
.container {
    padding-bottom: 15px;
    padding-top: 10px;
}
.desc{
    margin-top: 5vh;
}

#button, #prev, #next, #prevA, #nextA {
    color: whitesmoke;
    font-size: 25px;
    font: bold;
    font-variant: small-caps;
    border: 1px whitesmoke;
    border-style: solid;
    border-radius: 3px;
    padding: 10px;
}

#button:hover, #prev:hover, #next:hover, #prevA:hover, #nextA:hover{
    color: blue;
    background: whitesmoke;

}

#overlay {
    background-color: black;
    opacity: .7;
    height: 100vh;
    width: 100%;
    position: fixed;
}

#disclaimer {
    margin-top: 15vh;
    padding: 30px;
}

/*Result display*/
.parent {
    display: flex;
    flex-direction:row;
  }
  
.column {
    flex: 1 1 0px;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
}

#picture, #pictureA {
    max-height: 45vh;
    max-width: 100%;
}

#name, #nameA {
    padding: 20px;
}

#message {
    padding-bottom: 15px;
}

#dl{
    padding-right: 30vh;
}

@media screen and (min-width:768px) {
    h2{
        font-size: 18px;
        padding: 2px;
    }
    h3{
        font-size: 14px;
    }
    #disclaimer {
        margin-top: 25vh;
        padding: 30px;
    }
}